:root { 
    --color-pink: #ff009d;
    --color-blue: #699BF7;
    --color-blue300: #92CEFF;
    --color-blue500: #699AF6;
    --color-blue900:#007BF5;
    --color-green:#C6F806;
    --color-purple300: #A66DB6; 
    --color-purple500: #A73DFF;
    --color-purple: #62038B;
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-lightwhite: #FCF5FF;
    --color-gray: #CFCECE;
    --color-lightgray: #DDDCDC;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-blue500);
    max-width: 100vw;
}

section {
    height: 100vh;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.home-button {
    font-family: Chivo;
    z-index: 1;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 7rem;
    font-size: 2.2rem;
    border: 0.4rem solid var(--color-black);
    background-color: var(--color-white);
    border-radius: 3rem;
    padding: .8rem;
    text-align: center;
    line-height: 100%;
    transition: hover .5s;
    
    &:hover {
        animation: btn-up 1s infinite; 
    }
    
    & a {
        color: var(--color-pink);
    }
}
.marca {
    position: absolute;
    z-index: 0;
    margin-left: 25rem;
    margin-top: 1rem;
    transition: scale 0.5s;
    &:hover {
        scale: 1.1;
    }
}

.account-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: Arimo;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 2rem;
    padding: 4rem 4.1rem 2.5rem 0;
}

.log-in {
    display: flex;
    border: 0.3rem solid var(--color-pink);
    background-color: var(--color-purple300);
    width: 8.6rem;
    height: 3.1rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: scale 0.3s;
    &:hover {
        scale: 1.3;
    }
}

.log-in a {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
    &:hover {
        color: var(--color-blue);
    }
}

.register {
    background-color: var(--color-pink);
    display: flex;
    width: 8.6rem;
    height: 3.1rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: scale .5s;
    &:hover {
        scale: 1.3;
    }
}

.register a {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
    transition: color .5s;
    &:hover {
        color: var(--color-blue);
    }
}

.nav-bar {
    width: 100%;
    height: 3.9rem;
    background-color: var(--color-blue900);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    font-family: Chivo;
}

.menu-left, .menu-right {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
    z-index: 1;
}

.nav-menu a, .nav-menu p {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    transition: color .5s;
    &:hover {
        color: var(--color-pink);
    }
}

.background {
    width: 100%;
    height: 81rem;
    background: url(../images/imagem-fundo.png) var(--color-lightgray) 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    width: 129.4rem;
    height: 100rem;
    margin-top: 12rem;
    border: 0.5rem solid var(--color-black);
    border-radius: 3rem;
    /* background: linear-gradient(180deg, #C3F407 0%, rgba(235, 235, 9, 0.97) 68.75%, #FEF500 100%); */
    /* background: linear-gradient(to top, #62038B, #699BF7); */
    background: linear-gradient(to top, #6600cc, #9933ff);
    display: flex;
    box-shadow: 1.3rem 1.3rem;
    transition: scale .5s;
    &:hover {
        scale: 1.1;
    }
}

.content-image {
    width: 85rem;
    height: 40rem;
    padding-left: 14rem;
    padding-top: 1rem;
}

.content {
    width: 85rem;
    height: 40rem;
    text-align: left;
    padding: 3rem 5rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    & h2 {
        font-family: "Press Start 2P", system-ui;
        font-size: 4.5rem ;
        line-height: 131%;
        color: var(--color-white);
        /* color: var(--color-black); */
    }

    & p {
        height: 15rem;
        width: 65rem;
        font-family: Chivo;
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--color-white);
        /* color: var(--color-black); */
    }

    & .icons {
        width: 64rem;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10rem;
    }
}

.icon {
    width: 7.4rem;
    height: 7.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 0.2rem solid var(--color-black);
    background-color: var(--color-pink);
}

.cards {
    width: 100%;
    height: 42rem;
    margin-top: 9rem;
    display: flex;
    gap: 4rem;
    justify-content: center;

}

.card {
    width: 42.6rem;
    height: 11.2rem;
    border-radius: 2rem;
    border: 0.5rem solid var(--color-black);
    box-shadow: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    transition: scale .5s;

    &:hover {
        scale: 1.1;
    }

    &.moda {
        background-color: var(--color-purple);
    }

    &.filmes {
        background-color: var(--color-pink);
    }

    &.musica {
        background-color: var(--color-blue);
    }
}

.button {
    width: 17.4rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background-color: var(--color-white);
    transition: scale .5s;
    &:hover {
        scale: 1.2;
        border: .3rem solid var(--color-black);
    }
}

.button a {
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-black);
    
}

/* ------------------------- end-home --------------------- */
.moda img {
    position: absolute;
    z-index: 0;
}
.logo-moda {
    margin-left: 25rem;
    margin-top: 2.3rem;
}

.marca-moda {
    margin-left: 80rem;
    margin-top: 1rem;
}

.gap-moda {
    margin-left: 95rem;
    margin-top: 19rem;
}

.vetor-moda {
    margin-left: 140rem;
    margin-top: 1.3rem;
}

.background-moda {
    height: 100vh;
    background-color: var(--color-purple);
}

.header-moda {
    height: 8.5rem;
    width: 99.2vw;
    background-color: var(--color-blue);
}

.content-moda {
    height: 90.5rem;
    width: 99.2vw;
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.bigcard-moda-left {
    width: 80rem;
    height: 72.5rem;
    font-family: "Press Start 2P", system-ui;
    /* font-family: Chivo; */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 3rem;
}

.card-moda-left {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
    padding: 2.5rem;
    width: 80rem;
    height: 30rem;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    background-color: var(--color-white);
    transition: scale .3s;
    line-height: 120%;
    &:hover {
        scale: 1.1;
    }
}

.card-moda-left-last {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
    padding: 2.5rem;
    width: 80rem;
    height: 30rem;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    background-color: var(--color-pink);
    transition: scale .3s;
    line-height: 120%;
    &:hover {
        scale: 1.1;
    }
}

.bigcard-moda-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 3rem;
    padding: 3rem 5rem;
    width: 80rem;
    height: 72.5rem;
    font-family: "Press Start 2P", system-ui;
    /* font-family: Chivo; */
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    border: 0.4rem solid var(--color-black);
    background-color: var(--color-pink);
}

.card-moda-right {
    padding: 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    width: 68rem;
    height: 8.5rem;
    border-radius: 1.5rem;
    border: 0.4rem solid var(--color-black);
    background-color: var(--color-white);
    transition: scale .3s;
    line-height: 120%;
    &:hover {
        scale: 1.1;
    }
}

/* -------------------------- end moda ------------------------------------ */

.filmes img {
    position: absolute;
    z-index: 0;
}

.logo-filmes {
    margin-left: 20rem;
    margin-top: 2.3rem;
}

.marca-filmes {
    margin-left: 64rem;
    margin-top: 2rem;
}

.gap-filmes {
    margin-left: 80rem;
    margin-top: 19rem;
}

.vetor-filmes {
    margin-left: 110rem;
    margin-top: 1rem;
}

.background-filmes {
    height: 100vh;
    background-color: var(--color-pink);
}

.header-filmes {
    height: 8.5rem;
    width: 99.2vw;
    background-color: var(--color-blue300);
}

.content-filmes {
    height: 90.5rem;
    width: 99.2vw;
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 5rem 10rem;
}

.bigcard-filmes-right {
    width: 93rem;
    height: 67.8rem;
    margin-top: 3rem;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    font-family: "Press Start 2P", system-ui;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    & .title {
        border-bottom: 0.3rem solid var(--color-black);
        padding-bottom: 1rem;
        width: 58rem
    }
}

.card-filmes-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    gap: 10rem;
}

.filme {
    padding: 2rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & h2 {
        font-size: 1.5rem;
        padding-top: 14rem;
    }
    
    & img {
        transition: scale .3s;
        &:hover{
            scale: 1.1;
        }
    }
}

.button-pink {
    width: 22rem;
    height: 4rem;
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    border: 0.2rem solid var(--color-black);
    font-family: Chivo;
    text-align: center;
    align-content: center;
    transition: scale .3s;
    & a {
        color: var(--color-black);
        font-size: 2rem;
        font-weight: 400;
    }

    &:hover {
        scale: 1.1;
    }
}

.bigcard-filmes-left {
    width: 63rem;
    height: 73.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0rem;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;
    & a {
        color: var(--color-black);
    }
}

.card-filmes-left-first{
    border-radius: 1.5rem;
    border: 0.4rem solid var(--color-black);
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 131%;
    padding: 1.5rem 3rem;
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
}

.card-filmes-left {
    border-radius: 1.5rem;
    border: 0.4rem solid var(--color-black);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 3rem;
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
 }

.sections-filmes {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: var(--color-green);
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
}

.button-filmes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 20rem;
    background-color: var(--color-green);
    border-radius: 1.5rem;
    border: 0.3rem solid var(--color-black);
    margin-left: 18.2rem;
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
}

/* ---------------------------------- end filmes -------------------------- */
.musica img {
    position: absolute;
    z-index: 0;
}

.logo-musica {
    margin-left: 38rem;
    margin-top: 2.3rem;
}

.marca-musica {
    margin-left: 76rem;

}

.gap-musica {
    margin-left: 92.5rem;
    margin-top: 20rem;
}

.vetor-musica {
    margin-left: 120rem;
    margin-top: 1rem;
}

.background-musica {
    height: 100vh;
    background-color: var(--color-blue500);
}

.header-musica {
    height: 8.5rem;
    width: 99.2vw;
    background-color: var(--color-green);
}

.content-musica {
    height: 90.5rem;
    width: 99.2vw;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 10rem;
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
}

.content-musica-left {
    width: 84rem;
    height: 77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.musica-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    height: 22rem;
    width: 75rem;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    padding: 1rem 2rem;
    background-color: var(--color-white);
    line-height: 120%;
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
}

.musica-left-purple {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    height: 22rem;
    width: 75rem;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    padding: 1rem 2rem;
    background-color: var(--color-purple500);
    line-height: 120%;
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
}

.button-pink-music {
    width: 22rem;
    height: 4rem;
    background-color: var(--color-pink);
    border-radius: 1.5rem;
    border: 0.2rem solid var(--color-black);
    text-align: center;
    align-content: center;
    margin-left: 23.5rem;
    transition: scale .3s;
    & a {
        color: var(--color-black);
        font-size: 1.4rem;
        font-weight: 400;
    }

    &:hover {
        scale: 1.1;
    }
}

.button-green-music {
    text-align: center;
    align-content: center;
    height: 4rem;
    width: 22rem;
    background-color: var(--color-green);
    border-radius: 1.5rem;
    border: 0.2rem solid var(--color-black);
    margin-left: 23.5rem;
    transition: scale .3s;
    & a {
        color: var(--color-black);
        font-size: 1.4rem;
        font-weight: 400;
    }
    &:hover {
        scale: 1.1;
    }
}

.content-musica-right{
    width: 84rem;
    height: 77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    border: .4rem solid var(--color-black);
    background-color: var(--color-purple500);
    transition: scale .3s;
    &:hover {
        scale: 1.1;
    }
    & .button-pink {
        margin-bottom: 2rem;
    }
}

.content-banner {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    & .imagem-banner {
        width: 75rem;
        height: 35rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & p {
        font-size: 1.5rem;
        color: var(--color-white);
        z-index: 1;
        text-align: center;
        line-height: 131%;
        padding: 1.5rem;
        font-weight: 400;
    }
}

.atractions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.atraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26rem;

    & .imagem-atraction {
        width: 18rem;
        height: 11.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: scale .3s;
        &:hover{
            scale: 1.15;
        }
    }

    & p {
        font-size: 1.2rem;
        color: var(--color-white);
        z-index: 1;
        text-align: center;
        line-height: 131%;
        padding: 1rem;
        font-weight: 400;
        width: 26rem;
    }

}